.blue-txt {
  color: var(--amplify-colors-blue-80);
}

.red-txt {
  color: var(--amplify-colors-red-60);
}

.margin-small {
	margin: 0.5em 0 0.5em 0;
}

.margin-med {
	margin: 1.5em 0 1.5em 0;
}

.page-margin {
	margin: 1em;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal {
	display: flex;
	align-items: center;
}

.right {
	display: block;
    margin-left: auto;
    margin-right: 0;
}

.black-bg {
	background-color: black;
}